body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://i.kym-cdn.com/entries/icons/facebook/000/046/895/huh_cat.jpg);
    background-size: auto;
    background-attachment: fixed;
}

#logo {
    color: white;
}

#navigationBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #eeb2bb;
}

#logo {
    margin-top: 0;
}

.navigation {
    display: flex;
    width: 400px;

}

.navigation a {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

/* INPUT SECTION */

#trianglePicture {
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    color: white;
    text-decoration: underline;
    font-size: 30px;
}

.inputAreaSection {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

.inputPerimeterSection {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
}

label {
    color: white;
    margin-bottom: 4px;
    font-weight: bold;
}

.inputCalculator {
    outline: none;
    border-radius: 10px;
    padding: 4px;
    border: 1px #eeb2bb solid;
}

.inputCalculator:focus {
    border: 1px solid cornflowerblue;
}

#labelArea {
    color: white;
    margin-top: 20px;
    border: #eeb2bb solid 3px;
    display: inline-block;
    font-size: 20px;
    padding: 2px;
}

.buttons {
    display: flex;
    align-self: center;
    gap: 20px;
    margin-top: 10px;
}

button {
    font-size: 17px;
    font-weight: bold;
    background-color: #eeb2bb;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rosybrown;
}

button:active {
    background-color: hotpink;
    transform: translateY(2px);
}

#labelPerimeter {
    color: white;
    margin-top: 20px;
    border: #eeb2bb solid 3px;
    display: inline-block;
    font-size: 20px;
    padding: 2px;
}